
@model IEnumerable<HoGentLend.ViewModels.ReservatieViewModel>
@using System.Linq

@{
    ViewBag.Title = "Index";
}

<h2>Reservaties</h2>

<p>Dit zijn al jouw reservaties. Je kan een reservatie annuleren indien je ze nog niet afgehaald hebt. Je kan ook de details van een reservatie bekijken door op details te klikken.</p>
<hr />

<div id="reservationlist">


    @if (!Model.Any())
    {
        <p>Je hebt nog niets gereserveerd!</p>
    }
    else
    {

        int i = 1;
        foreach (var item in Model)
        {

            <div class="row reservation-item">
                <div class="col-md-12">
                    <div class="col-md-1">
                        @i
                    </div>
                    <div class="col-md-2">
                        <strong>Ophaalmoment</strong> <br/> @Html.DisplayFor(model => item.Ophaalmoment) @ViewBag.ophaalTijd
                    </div>
                    <div class="col-md-2">
                        <strong>Indienmoment</strong> <br/> @Html.DisplayFor(model => item.Indienmoment) @ViewBag.indienTijd
                    </div>
                    <div class="col-md-3">
                        @{ int j = 0;}
                        @foreach (var reservatielijn in item.ReservatieLijnen)
                        {
                            if (j > 0)
                            {
                                <text>, </text>
                            }
                            <span>@Html.ActionLink(reservatielijn.Materiaal.Name, "Detail", "Catalogus", new {id = reservatielijn.Materiaal.Id}, null) (@(reservatielijn.Amount))</span>


                            j++;
                        }
                    </div>
                    <div class="col-md-2">
                        <strong>Status</strong> <br/>
                        @if (item.Opgehaald)
                        {
                            @:Opgehaald
                        }
                        else if (item.Conflict)
                        {
                            <span class="text-danger">Conflict!</span>
                        }
                        else
                        {
                            @:Niet opgehaald
                        }

                    </div>
                    <div class="col-md-1">
                        @Html.ActionLink("Details", "Detail", "Reservatie", new {id = item.Id}, new {@class = "btn btn-default"})
                    </div>
                    <div class="col-md-1">
                        @using (Html.BeginForm("Remove", "Reservatie", FormMethod.Post, new { @class = "confirmation-delete", @data_row_number = i}))
                        {
                            <input type="hidden" name="reservatieId" value="@item.Id"/>
                            <button type="submit" class="btn btn-default" @(item.Opgehaald ? "disabled" : "")>
                                Annuleer
                            </button>
                        }

                    </div>
                    <input type="hidden" name="reservatieId" value="@item.Id"/>
                </div>
            </div>
            <hr/>
            i++;

        }
    }
</div>
    
<!-- Modal box -->
<div id="confirmation-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bevestiging</h4>
            </div>
            <div class="modal-body">
                <p>
                    Je staat op het punt de reservatie met rijnummer "<strong><span class="row-number"></span></strong>" te annuleren. Ben je zeker?
                </p>
            </div>
            <div class="modal-footer">
                <button id="confirm" type="button" class="btn btn-primary">Ja</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
            </div>
        </div>
    </div>
</div>
<!-- --- -->

@section scripts
{
    <script>
        // Confirmation Delete
        $('.confirmation-delete').on('submit', function (e) {
            e.preventDefault();

            var a = $(this);

            var confirmationDelete = $('#confirmation-delete');
            confirmationDelete.find('.row-number').html(a.attr('data-row-number'));
            confirmationDelete.modal('show');

            $('#confirm').click(function () {
                a.unbind('submit').submit();
            });
        });
    </script>
 }


